</main>
<!-- =============================================== FOOTER =============================================== -->


    <!--sCROLL UP-->
    <script src="/javascripts/zenscroll-min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--Waves js-->
    <script type="text/javascript" src="/javascripts/waves.min.js"></script>

    <!--Custom js-->
    <script src="/javascripts/custom.js"></script>
  </body>
</html>