<% include ./partials/header.ejs %>

<!-- =============== Gallery ================= -->
    <ul class="cb-slideshow">
        <li><span>Image 01</span><div><h3>- Developing website from scratch -</h3></div></li>
        <li><span>Image 02</span><div><h3>- Fixing your awasome website -</h3></div></li>
        <li><span>Image 03</span><div><h3>- Web and graphic design -</h3></div></li>
        <li><span>Image 04</span><div><h3>- Branding - </h3></div></li>
        <!--<li><span>Image 05</span><div><h3>com·po·sure</h3></div></li>-->
        <!--<li><span>Image 06</span><div><h3>se·ren·i·ty</h3></div></li>-->
    </ul>
<!-- =============== Gallery ================= -->


<!-- =============== Header and buttons ================= -->
<section class="HomeButtonsSection">
    <h1>
        What would you like to check?
    </h1>

    <a href="/projects" type="button" id="animate" class="btn btn-lg green">Projects</a>
    <a href="/projects" type="button"  class="btn btn-lg pink">Services</a>
    <a href="/projects" type="button"  class="btn btn-lg red">Chatting?</a>
</section>
<!-- =============== Header and buttons ================= -->

<section id="slider">
    <p id="sliderBox"></p>
</section>


<% include ./partials/footer.ejs %>