<% include ./partials/header.ejs %>

<!--<h1 class="text-center">My projects</h1>-->

<section class="paralaxSection">
    <h1 class="text-center">
        Hands up! Super promotion! </h1>
    <h3>Watch all projects and get a chance to win prizes (limited):</h3>
    <h3>email with heart and "thank you" - 70, like for your post in Facebook - 30, shake hand - 15, hugs - 5 (for pretty girls only)</h3>

</section>

<section class="tilesSection">
    <h1 class="text-center">Websites. School projects.</h1>
<!--1-->
    <div class="projectTile waves">
        <a href="http://artemwebdev.azurewebsites.net/" title="My handmade web site" target="_blank"><img  src="/images/1.jpg" alt="My handmade web site" ></a>
    </div>
<!--2-->
    <div class="projectTile waves">
        <a href="http://adidas-product-page.azurewebsites.net/" title="Adidas" target="_blank"><img  src="/images/2.jpg" alt="Adidas" ></a>
    </div>
<!--3-->
    <div class="projectTile waves">
        <a href="http://automoblox-artem.azurewebsites.net/index.php" title="Automoblox" target="_blank"><img  src="/images/3.jpg" alt="Automoblox" ></a>
    </div>
<!--4-->
    <div class="projectTile waves">
        <a href="http://lviv-chocolate.azurewebsites.net/" title="Lviv Chocolate" target="_blank"><img  src="/images/4.jpg" alt="Lviv Chocolate" ></a>
    </div>
<!--5-->
    <div class="projectTile waves">
        <a href="http://hp-printers-poster.azurewebsites.net/" title="HP printers. Promo page example" target="_blank"><img  src="/images/5.jpg" alt="HP printers. Promo page example"" ></a>
    </div>
<!--6-->
    <div class="projectTile waves">
        <a href="http://navigation-school-task.azurewebsites.net/" title="Navigation example" target="_blank"><img  src="/images/6.jpg" alt="Navigation example" ></a>
    </div>
    <!--7-->
    <div class="projectTile waves">
        <a href="http://refactoring-infographic.azurewebsites.net/" title="refactoring-infographic example" target="_blank"><img  src="/images/7.jpg" alt="refactoring-infographic example" ></a>
    </div>
    <!--6-->
    <div class="projectTile waves">
        <a href="http://comp2084-gamecalc-artem.azurewebsites.net/" title="Game calculator" target="_blank"><img  src="/images/8.jpg" alt="Game calculator" ></a>
    </div>




</section>

<!--<section class="paralaxSection">-->
    <!--<h2 class="text-center">Mockups</h2>-->
<!--</section>-->

<!--<section class="tilesSection">-->


    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->

    <!--<div class="projectTile">-->
        <!--<a href="#"><img  src="/images/1.jpg" alt="1" ></a>-->
    <!--</div>-->
<!--</section>-->

<section class="actionBanner HomeButtonsSection">
    <a  class="btn btn-lg" href="/contact">Contact me</a>
</section>




<% include ./partials/goTop.ejs %>

<% include ./partials/footer.ejs %>